@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

header {
  background-color: #ffc017;
  padding: 1em;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
}

header nav {
  font-family: "Roboto", serif;
}

header nav ul {
  list-style: none;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 1em;
}

header nav button {
  background-color: #191919;
  font-family: "Roboto", serif;
  padding: 1em;
  color: #ffffff;
  border: 0 rgba(0, 0, 0, 0) solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stay-curious {
  padding: 1em 0;
  display: flex;
  background-color: #ffc017;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.stay-curious h1 {
  font-family: "Spectral", serif;
  font-size: 7em;
}

.stay-curious p {
  font-family: "Roboto", serif;
  font-size: 2em;
  margin: 20px 10px;
}

.big-text {
  margin: 5em;
  padding: 1em;
  align-content: center;
}

.stay-curious button {
  background-color: #191919;
  font-family: "Roboto", serif;
  font-size: 20px;
  color: #ffffff;
  margin: 1em;
  padding: 1em;
  border: 0 rgba(255, 255, 255, 0) solid;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TRENDING ARTICLES */

.trending-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trend {
  margin: 1em;
  padding: 1em;
  display: flex;
  font-family: "Roboto", serif;
  color: #191919;
  align-items: flex-start;
}

.number {
  display: flex;
  align-items: center;
}

.image-cooper {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.trend p {
  font-weight: bold;
  display: inline;
  margin-left: 0.5em;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.trend h3 {
  font-size: larger;
  font-weight: 900;
}

.trend h4 {
  color: #7d7d7d;
}

.trend h2 {
  color: #d7d7d7;
  font-size: 50px;
  font-weight: 900;
}
