@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

header {
  background-color: #ffc017;
  padding: 1em;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
}

header nav {
  font-family: "Roboto", serif;
}

header nav ul {
  list-style: none;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 1em;
}

header nav button {
  background-color: #191919;
  font-family: "Roboto", serif;
  padding: 1em;
  color: #ffffff;
  border: 0 rgba(0, 0, 0, 0) solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stay-curious {
  padding: 1em 0;
  display: flex;
  background-color: #ffc017;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.stay-curious h1 {
  font-family: "Spectral", serif;
  font-size: 7em;
}

.stay-curious p {
  font-family: "Roboto", serif;
  font-size: 2em;
  margin: 20px 10px;
}

.big-text {
  margin: 5em;
  padding: 1em;
  align-content: center;
}

.stay-curious button {
  background-color: #191919;
  font-family: "Roboto", serif;
  font-size: 20px;
  color: #ffffff;
  margin: 1em;
  padding: 1em;
  border: 0 rgba(255, 255, 255, 0) solid;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .trending-articles {
  margin-left: 10%;
  margin-right: 10%;
}

/* TRENDING ARTICLES */

.trending-articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trend {
  flex: 1 1 30%;
  margin: 1em;
  padding: 1em;
  display: flex;
  font-family: "Roboto", serif;
  color: #191919;
  align-items: flex-start;
  width: 500px;
}

.number {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.pfp {
  display: flex;
  align-items: center;
}

.pfp img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.trend p {
  font-weight: bold;
  display: inline;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 1em;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.trend h3 {
  font-size: larger;
  font-weight: 900;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.trend h4 {
  color: #7d7d7d;
  margin-top: 0.5em;
}

.trend h2 {
  color: #d7d7d7;
  font-size: 50px;
  font-weight: 900;
}

/*COLONNA SX*/

main .two-columns {
  margin-left: 10%;
  margin-right: 10%;
  color: #191919;
  display: flex;
}

.to-read {
  font-family: "Roboto", serif;
  max-width: 1000px;
  padding: 20px;
  margin: 1em;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.author-info h4 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 900;
}

.content p {
  font-size: 1em;
  margin-bottom: 15px;
}

.content h4 {
  font-size: 1em;
  margin: 0;
  color: #191919;
}

.content h5 {
  font-size: 14px;
  margin: 0;
  color: #7d7d7d;
}

.content {
  display: inline-block;
  width: 700px;
}

.image-placeholder {
  display: inline-block;
  margin-left: 10px;
}

.image-placeholder img {
  width: 200px;
  height: auto;
}

/* COLONNA DX*/

.tags {
  font-family: "Roboto", serif;
  width: 500px;
  color: #7d7d7d;
}

.tags h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.side-tags {
  list-style: none;
  padding: 1em;
  margin: 10px 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.side-tags li {
  margin: 0.2em;
  padding: 1em;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
}
.side-tags li:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

.side-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 15px;
}

.side-menu li {
  color: #7d7d7d;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.side-menu li:hover {
  font-weight: bold;
}
